/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box; /* Важливо: розмір включає padding і border */
    margin: 0;
    padding: 0;
}
ul, ol, a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

body {
    line-height: 1.5;
    font-family: "Roboto";
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
button {
    background-color: transparent;
    border: none;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: #2E2F42;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}
.wrapper {
    width: 100%;
    background-color: #FFFFFF;
}