.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25.5px 156px;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 76px;
}

.navigation_list {
    display: flex;
    gap: 40px;
}

.nav_link {
    font-size: 16px;
    font-weight: 500;
}

.social_list {
    display: flex;
    gap: 40px;
}

.header_container {
    width: 100%;
    min-height: 600px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 48px;

    font-weight: 700;
    font-size: 46px;
    line-height: 1.07;

    background-image:
            linear-gradient(#2E2F42B2),
            url("../../assets/images/people-office_1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .hero_title {
        color: white;
    }

    .order_button {
        width: 169px;
        height: 56px;

        background-color: #4D5AE5;
        color: white;

        font-weight: 400;
        font-size: 19px;

        border-radius: 4px;
    }
}