.main {
    padding-top: 120px;
}

.features_list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.features_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    width: 264px;
}

.feature_header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 112px;
    border-radius: 4px;
    border: solid 1px #8E8F99;

    background-color: #F4F4FD;
}

.our_team_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 72px;

    margin-top: 120px;
    padding: 120px 0;

    background-color: #F4F4FD;

}

.our_team_title {
    font-size: 36px;
    font-weight: 700;
    color: #2E2F42;
}



.our_team_list {
    display: flex;
    gap: 24px;
}

.our_team_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 32px;

    background-color: #FFFFFF;
    box-shadow: 1px 2px #2E2F4214;

}

.photo_people {
    margin-bottom: 24px;
}

.our_team_network {
    display: flex;
    gap: 24px;
}

.social_network {
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;

    background-color: #4D5AE5;
}

.our_portfolio_block {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 120px 0;
}

.portfolio_title {
    font-size: 36px;
    font-weight: 700;

    margin-bottom: 72px;
}

.our_portfolio_list {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 24px;

    width: 1128px;
}

.our_portfolio_item {
    display: flex;
    flex-direction: column;

    gap: 8px;
    padding-bottom: 32px;
    border-radius: 16px;

    position: relative;
    overflow: hidden;

    width: 360px;

    background-color: #FFFFFF;
    box-shadow: 1px 2px #2E2F4214;
}

.description_block_our_portfolio {
    position: absolute;
    inset: 0;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 300px;

    clip-path: circle(0% at 50% 50%);
    transform: scale(0.8);
    opacity: 0;

    transition:
            clip-path 600ms cubic-bezier(0.22, 1, 0.36, 1),
            transform 500ms cubic-bezier(0.22, 1, 0.36, 1),
            opacity 300ms ease;
}

.our_portfolio_item:hover .description_block_our_portfolio {
    clip-path: circle(150% at 50% 50%);
    transform: scale(1);
    opacity: 1;
}
.photo_portfolio_element {
    cursor: pointer         ;
}

.photo_portfolio_element {
    margin-bottom: 24px;
}
.portfolio_text{
    margin-left: 18px;
}px