.features_item {
    width: 264px;

    .feature_header {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 112px;
        border-radius: 4px;
        border: solid 1px #8E8F99;

        background-color: #F4F4FD;
    }
}